// Styling for the contact section
section.contact {
    text-align: center;
    h3 {
      margin: .5rem 0;
    }
    a {
      color: #007bff;
    }
    #map {
      margin-top: 20px;
      h3 {
        font-size: 1.75rem;
      }
      img {
        width: 100%;
      }
    }
    #donate {
      margin-top: 20px;
      padding: 20px;
      a {
        color: white;
      }
      h4 {
        margin: 1rem 0;
      }
    }
}

