// Styling for the download section
section.contact {
    text-align: center;
    h3 {
      margin: .5rem 0;
    }
    a {
      color: #007bff;
    }
    #donate {
      margin-top: 20px;
      padding: 20px;
      a {
        color: white;
      }
      h4 {
        margin: 1rem 0;
      }
    }
}
